<div class="content flexbox__wrapper">
	<div class="login_box">
		<!-- <h1 class="login_title">Login Dude</h1> -->

		<div class="login_body">
			<p>
				<button {{action 'authenticate'}} class="login_button">
					Login with Google
				</button>
			</p>
		</div>
	</div>
</div>
